<div *ngIf="chartLabels.length > 0" style="display: block">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [chartType]="chartType"> </canvas>

    <canvas baseChart [datasets]="chartDataSuccess0" [labels]="chartLabels" [chartType]="chartType"> </canvas>
    <canvas baseChart [datasets]="chartDataSuccess1" [labels]="chartLabels" [chartType]="chartType"> </canvas>
    <canvas baseChart [datasets]="chartDataSuccess2" [labels]="chartLabels" [chartType]="chartType"> </canvas>
    <canvas baseChart [datasets]="chartDataSuccess3" [labels]="chartLabels" [chartType]="chartType"> </canvas>
    <canvas baseChart [datasets]="chartDataSuccess4" [labels]="chartLabels" [chartType]="chartType"> </canvas>
    <canvas baseChart [datasets]="chartDataSuccess5" [labels]="chartLabels" [chartType]="chartType"> </canvas>
    <canvas baseChart [datasets]="chartDataSuccess6" [labels]="chartLabels" [chartType]="chartType"> </canvas>
    <canvas baseChart [datasets]="chartDataSuccess7" [labels]="chartLabels" [chartType]="chartType"> </canvas>
    <canvas baseChart [datasets]="chartDataSuccess8" [labels]="chartLabels" [chartType]="chartType"> </canvas>
    <canvas baseChart [datasets]="chartDataSuccess9" [labels]="chartLabels" [chartType]="chartType"> </canvas>
</div>
